k8s {
 namespace = 'medgen-ns'
 runAsUser = 1000
 storageClaimName = 'pvc-jans-storage-elixir1-cerit-sc-cz' 
 storageMountPath = '/mnt'
 launchDir = '/mnt/shared/MedGen/ACGT/src_parabricks'
 workDir = '/mnt/shared/MedGen/ACGT/src_parabricks/tmp'
}

executor {
 queueSize =  10
}

process {
 container = 'cerit.io/ceitec/clara-parabricks:3.8.0-1.ampere'
 scratch = true
 executor = 'k8s'
 queue = 'short'
 cpus = 8 
 memory = '20GB'
 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd'], [imagePullSecrets:'docker-registry-cred']]
}
